body {
  background-color: rgb(31, 31, 31);
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  position: fixed;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
}

#content-score {
  position: absolute;
  background-color: rgb(31, 31, 31);
  box-shadow: 2px 4px 15px 4px #11B0D6;
  top: 3%;
  left: 3%;
  width: 15%;
  padding: 1rem;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #d1d1d1;
}

#content-score h2 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  color: #14d2ff;
}

#content-score p {
  margin-bottom: 0;
}

#content-score button {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #14d2ff;
  color: #d1d1d1;;
  border: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
}
 .modal {
  
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: rgb(31, 31, 31);
  box-shadow: 2px 4px 15px 4px #11B0D6;
  color: #d1d1d1;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #14d2ff;
  width: 80%;
  max-width: 600px;
  text-align: center;
}
.modal-content h2 {
  font-size: 35px;
}
.modal-content p {
  font-size: 20px;
}
.modal-content button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #14d2ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



 .bonbon {
   width: 25px;
   height: 25px;
  
 }
 .super-bonbon{
  width: 40px;
  height: 40px;
 }

 .pacman {
 
  transition: left 0.2s linear, top 0.2s linear;
   width: 30px;
   height: 30px;
   translate: 20% 20%;
   border-radius: 50%;
   background: #f2d648;
   position: relative;
   overflow: hidden;
 }
 
 
 .pacman__eye {
   position: absolute;
   width: 4px;
   height: 4px;
   border-radius: 50%;
   top: 8px;
   right: 16px;
   background: #333333;
 }

 .pacman__mouth {
   background: #000;
   position: absolute;
   width: 100%;
   height: 100%;
   clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
   animation-name: eat;
   animation-duration: 0.7s;
   animation-iteration-count: infinite;
 }
 @keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}



.ghost {
  position: absolute;
  top: 20%;
  z-index: 99;
  left: 10%;
  height: 30px;
  width: 30px;
  translate: 30% 80% ;
  margin-top: -20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transition: left 0.3s linear, top 0.3s linear;
  animation: move 5s linear infinite, blinky 0.4s linear infinite;
}

.ghost::before,
.ghost::after {
  position: absolute;
  z-index: 99;
  content: '';
  top: 7px;
  left: 2px;
  height: 15px;
  width: 10px;
  border-radius: 50%;
  background: white;
}

.ghost::after {
  left: 18px;
}

.eyes::before,
.eyes::after {
  position: absolute;
  content: '';
  height: 6px;
  width: 6px;
  background: blue;
  border-radius: 100%;
  top: 12px;
  left: 2px;
  z-index: 99;
  animation: eyeLeft 0.7s linear infinite;
}

.eyes::after {
  animation: eyeRight 0.7s linear infinite;
  z-index: 100;
  left: 18px;
}

.skirt,
.skirt::before,
.skirt::after {
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid rgb(31, 31, 31);
  border-top-color: transparent;
  border-bottom-color: transparent ;
  bottom: -5px;
}

.skirt::before {
  content: '';
  left: 5px;
}

.skirt::after {
  content: '';
  left: 15px;
}



@keyframes blinky {
  50% {
    background: hotpink;
  }
}

@keyframes eyeLeft {
  0%,
  100% {
    left: 2px;
  }
  50% {
    left: 4px;
  }
}

@keyframes eyeRight {
  0%,
  100% {
    left: 18px;
  }
  50% {
    left: 20px;
  }
}






